.footer-secondary {
  min-height: 100px;
  max-height: 285px;
}

.footer-primary {
  height: 285px;
}

.FooterHeaderText {
  font-size: 32px;
}

.FooterSubText {
  font-family: Oxygen;
}

#textCopyRigth {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #8792a8;
}
