<div class="container-fluid py-4 px-3 px-sm-5 px-lg-4 bg-dark">
  <div class="d-flex flex-row justify-content-between align-items-center px-4 px-md-5 px-lg-4">
    <div class="py-3">
      <div class="row px-md-0 ps-2">
        <div class="col-auto ps-2 pe-0">
          <a href="#">
            <img src="assets/logo.png" width="100px" loading="lazy" class="d-none d-lg-block" alt="">
            <img src="assets/logo.png" width="50px" loading="lazy" class="d-lg-none" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="py-3 d-none d-lg-flex px-4">
      <p class="m-0 text-center fs-xxxl-16" style="color: #8792A8;">
        Copyright © Geeks Bank, Todos los
        derechos
        Reservados
      </p>
    </div>
    <div class="py-3">
      <div class="row">
        <div class="col-auto pe-0">
          <a class="text-decoration-none" href="#">
            <i
              class="fa-brands fa-instagram fa-2x text-white pe-3 pe-xl-4 d-none d-md-inline-flex"
            ></i>
            <i
              class="fa-brands fa-instagram fa-lg text-white pe-3 pe-xl-4 d-md-none"
            ></i>
          </a>
          <a class="text-decoration-none" href="#">
            <i class="fa-brands fa-facebook-f fa-2x text-white px-2 px-sm-3 px-xl-4 d-none d-md-inline-flex"></i>
            <i class="fa-brands fa-facebook-f fa-lg text-white px-2 px-sm-3 px-xl-4 d-md-none"></i>
          </a>
          <a class="text-decoration-none" href="#">
            <i class="fa-brands fa-youtube fa-2x text-white ps-3 ps-xl-4 d-none d-md-inline-flex"></i>
            <i class="fa-brands fa-youtube fa-lg text-white ps-3 ps-xl-4 d-md-none"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 px-sm-3 px-md-4">
    <hr class="my-2 d-md-block">
  </div>
  <div class="row d-lg-none">
    <p class="m-0 text-center fs-md-16" style="color: #8792A8; font-size: 10px;">
      Copyright © Geeks Bank, Todos los
      derechos
      Reservados
    </p>
  </div>
</div>