<gb-spinner *ngIf="isLoad" class="overlay"></gb-spinner>
<gb-nav-menu></gb-nav-menu>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 d-flex align-items-center px-2 py-4">
      <form [formGroup]="bankForm">
        <div class="row">
          <div class="col-12 display-4 mb-4">
            Calcula tu fortuna con nuestra calculadora
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="number1" id="floatingInput" placeholder="Número 1"
                maxlength="10" onPaste="return false" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
              <label for="floatingInput">Digite el primer número</label>
            </div>
            <div *ngIf="number1!.invalid && (number1!.dirty || number1!.touched)"
                class="alert p-0 ps-4 m-0 text-danger fs-xxxl-14">
                <div *ngIf="number1?.errors?.['required']">
                    El número es requerido.
                </div>
                <div *ngIf="number1?.errors?.['pattern']">
                  El número debe ser mayor que 0
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="number2" id="floatingInput" placeholder="Número 1"
                maxlength="10" onPaste="return false" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
              <label for="floatingInput">Digite el segundo número</label>
            </div>
            <div *ngIf="number2!.invalid && (number2!.dirty || number2!.touched)"
                class="alert p-0 ps-4 m-0 text-danger fs-xxxl-14">
                <div *ngIf="number2?.errors?.['required']">
                    El número es requerido.
                </div>
                <div *ngIf="number2?.errors?.['pattern']">
                  El número debe ser mayor que 0
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-dark btn-lg" (click)="calculate()">Calcular</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-6 d-none d-md-flex">
      <img src="assets/calculadora.png" width="100%" alt="">
    </div>
  </div>
</div>
<gb-footer></gb-footer>